@using RestaurantAggregator.Core.Data.DTO
@model IEnumerable<ProfileDTO>
@{
ViewData["Title"] = "Users Page";
}
<div class="row row-cols-lg-3 row-cols-xl-4 row-cols-sm-2 row-cols-1 g-3">
@foreach (var item in Model)
{

<div class="card p-0">
    <div class="card-body">
            <h5 class="card-title">@item.Email</h5>
            <p class="card-subtitle text-muted">@item.Name @item.Surname @item.MiddleName</p>
            <p class="card-text">@item.Gender</p>
            <p class="card-text">@item.BirthDate</p>
            <p class="card-text">@item.Phone</p>
    </div>
    <button class="col-md-auto btn btn-danger delete-button" asp-action="Delete" itemid=@item.Id>delete</button>
</div>

}
</div>
<button type="button" asp-action="Create" css="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal">
        Create New User
</button>