@using RestaurantAggregator.Core.Data.DTO
@model IEnumerable<ProfileDTO>
@{
    ViewData["Title"] = "Users Page";
    #nullable disable
    var currPage =(int) ViewData["Page"];
    #nullable enable
}

<table class="table">
    <thead>
        <tr>
            <th>email</th>
            <th>Full name</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Phone</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>
                <td>@item.Email</td>
                <td>@item.Name @item.Surname @item.MiddleName</td>
                <td>@item.Gender</td>
                <td>@item.BirthDate</td>
                <td>@item.Phone</td>
                <td>
                    <a class="col-md-auto btn btn-primary" asp-action="UserInfo" asp-route-userId="@item.Id">details</a>
                </td>
            </tr>

        }
    </tbody>
</table>

 <div class="row col-md-6 mx-auto">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (currPage > 1)
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page=@(currPage-1)>@(currPage-1)</a></li>
                    }
                    else
                    {
                        <li class="page-item disabled"><span class="page-link">0</span></li>
                    }
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page=@(currPage)>@(currPage)</a></li>
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page=@(currPage+1)>@(currPage+1)</a></li>
                </ul>
            </nav>
        </div>
    </div>